@charset "utf-8";
@import url("divtres.css");

div {
    background-color: blue;
    border: 10px solid groove greenyellow;
    margin: 50px 20px;
}
#divum {
    background-color: pink;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;

}
/* remova os comentarios para forçar 
essa folha css para div tres
 #divtres {
    font-family: Arial, Sans-serif;
    color: blueviolet;
    background-color: aquamarine;
    font-size: 45px;
}*/